.logoutButton,
.settingsButton {
  background: none;
  border: none;
  color: rgb(64, 123, 255);
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none;
  padding: 0;
  margin-left: 0.5rem;
}

.buttonsSettings:hover,
.buttonsLogout:hover {
  filter: brightness(0) saturate(100%) invert(29%) sepia(45%) saturate(1046%)
    hue-rotate(3deg) brightness(106%) contrast(102%);
}

.logoutButton:hover,
.settingsButton:hover {
  color: rgb(255, 157, 67);
  background: none;
}

.backdrop {
  position: relative;
  top: 51px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: absolute;
  background-color: white;
  border: transparent;
  border-radius: 5px;
  padding: 16px;
  z-index: 1000;
  filter: drop-shadow(2px 4px 6px #407BFF20);
}
.buttonsSettings,
.buttonsLogout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  fill: none;
  stroke: #407BFF;
}

.buttonsSettingsImg,
.buttonsLogoutImg {
  max-width: 16px;
  max-height: 16px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
}