.calendarDay {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.dayNumber {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    background-color: #ffffff;
    border-radius: 50%;
    color: #2F2F2F;
    cursor: pointer;
    min-width: 32px;
    min-height: 32px;
}

.dailyTotal {
    font-size: 10px;
    color: #9EBBFF;
}

@media screen and (min-width: 768px) {
    
    .dayNumber {
        min-width: 34px;
        min-height: 34px;
    }
    
    .dailyTotal {
        font-size: 12px;
    }
}