*,
::before,
::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    color: currentColor;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    background-color: #ffffff;
    color: #2f2f2f;
    transition: border-color 0.25s;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 30px;
    background-color: #407BFF;
    color: #ffffff;
    max-width: 384px;
    border-radius: 10px;
}